 * {
  margin:0;
  padding: 0;
  box-sizing: border-box;
} 


body {
  font-family: 'Poppins', sans-serif;
}

.header {
  width:100%;
  height: 100vh;
  /* background: url("image/background.jpg");
  background-repeat: no-repeat;
  background-size:cover; */
  overflow: hidden;
 

}

.nvb .navbar {
  width: 100%;
  height: 90px;
  position: fixed;
  top:0;
  z-index: 1;
  /* background: #1f2235; */
  background:black;
  
}

.navbar__left-logo img {
  width:110px;
  
 
}

.navbar__container {
  display:flex;
  height: 100px;
  align-items: center;
  
  
 
  
  
  
 
  
  
  
  

}

.navbar__right {
  display:flex;
  list-style-type: none;
  
  
 
 


  
}

.navbar__right li a {
  text-decoration: none;
  color:#fff;
  font-weight: 500;
  font-size:18px ;
  padding: 0 15px;
}


.container {
  width: 1200px;
  margin: 0 auto;
  /* position:fixed; */
  
  
}


.row {
  display: flex;
  width: 100%;
 
}

.col-6 {
  width: 50%;
}


.header__content {
  display:flex;
  align-items: center;
  height: 100vh;
  width:100% ;
  color:black;
  margin-left:30px;
}

.header__ul {
  list-style-type:none;
  display:flex;
  margin-bottom: 20px;
}

.header__ul li {
  width:50px;
  height: 50px;
  border:2px solid #ff4a57;
  border-radius:50%;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.header__ul li:first-child {
  margin-left: 0;
}

.header__section h1 {
  font-size: 57px;
  font-weight:700;
  margin-bottom: 20px;
}

.header__section p {
  font-size:26px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom:50px;

}

.header__buttons .btn {
  outline: none;
  border:none;
  
  text-decoration: none;
}

.header__buttons .btn-outline {
  border: 2px solid #ff4a57;
  border-radius: 50px;
  padding: 13px 40px;
}

.header__buttons .btn-smart {
  background:#ff4a57;
  padding: 13px 40px;
  border-radius: 50px;
  color:#fff;
}

.play {
  font-size: 20px;
  
 
}

.banner__img {
  padding: 0 50px;
  margin-top:200px;
 
  
  
}

/* .banner__img img {
  width: 300px;
  height: 400px;
 
} */


.about {
  width: 100%;
  /* background:rgb(189, 184, 184); */
  padding:100px 0;
 

}

.mainHeader {
  font-size: 32px;
  margin-bottom:20px;
}

.mainContent {
  font-size: 16px;
  /* color:#dfdfdf; */
}

.commonBorder {
  background: #ff4a57;
  height:3px;
  width:100px;
  margin: 30px auto;
}

.common {
  width:33.33333333333333%;
  margin:20px auto;
  text-align: center;
}



.about__img {
  padding: 30px;
}

.about__img img {
  width:325px;
  height: 450px;
}

.h-650 {
  height:650px;
}

.alignCenter {
  align-items: center;
}

.about__info h1 {
   margin-bottom: 30px;

}

.about__info-p1 {
  font-size: 14px;
  margin-bottom:20px;

}

.about__info-p2 {
   font-size: 14px;

}


.info__contacts {
  margin-top: 20px;
}

.info__contacts strong {
  color:#ff4a57;
}

.info__contacts p {
  margin-top: 3px;
}

.info__contacts .col-6 {
   margin: 10px 0;
}



 .skills{
 display: flex;
 list-style: none;
 justify-content: space-between;
 align-items: center;
 font-size: 70px;
 


 


 
}

.skills li {
 
 
  font-weight: 500;
  font-size:76px ;
  padding: 0 32px;
}

.mahmut {
  filter:grayscale(100%);
}
.mahmut:hover {
  filter:none;
}


.html:hover {
  color:#e34c26;
}

.css:hover {
  color:#264de4;
}

.java:hover {
  color: #f0db4f;
}

.node:hover {
  color:#3c873a;
}

.react:hover {
  color:#61DBFB;
}

.mongo:hover {
  color:#4DB33D;
}




