* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
} 


body {
  font-family: 'Poppins', sans-serif;
 
}

.header {
  width:100%;
  height: 100vh;
  
  overflow: hidden; 
  padding-top:50px;
 

}



.nvb .navbar {
  
  background:black;
  
}


.navbar__left-logo img {
  width:80px;
 
 
}











.container {
  width: 1200px;
  margin: 0 auto;
  
  
  
}


.row {
  display: flex;
  width: 100%;
 
}

.col-6 {
  width: 50%;
}


.header__content {
  display:flex;
  align-items: center;
  height: 100vh;
  width:100% ;
  color:black;
  margin-left:30px;
}

.header__ul {
  list-style-type:none;
  display:flex;
  margin-bottom: 20px;
  
}

.header__ul li {
  width:50px;
  height: 50px;
  border:2px solid #ff4a57;
  border-radius:50%;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
 
}

.header__ul li:hover {
  background-color:#ff4a57;
}

.header__ul li:first-child {
  margin-left: 0;
}

.header__section h1 {
  font-size: 57px;
  font-weight:700;
  margin-bottom: 20px;
}

.header__section p {
  font-size:26px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom:50px;

}

.header__buttons .btn {
  outline: none;
  border:none;
  
  text-decoration: none;
}

.header__buttons .btn-outline {
  border: 2px solid #ff4a57;
  border-radius: 50px;
  padding: 13px 40px;
}

.header__buttons .btn-smart {
  background:#ff4a57;
  padding: 13px 40px;
  border-radius: 50px;
  color:#fff;
}

.btn-outline:hover {
  background-color: #ff4a57;
}

.play {
  font-size: 20px;
  
 
}

.banner__img {
  padding: 0 50px;
  margin-top:200px;
 
  
  
}



 
.about {
 

   padding-top:70px;
 

} 

.mainHeader {
  font-size: 32px;
  margin-bottom:20px;
}

.mainContent {
  font-size: 16px;
  
}

.commonBorder {
  background: #ff4a57;
  height:3px;
  width:100px;
  margin: 20px auto;
}

.common {
  width:33.33333333333333%;
  margin:40px auto;
  text-align: center;
}



.profile-img {
  width: 100%;
  padding-top:10px;
  filter: grayscale(100%);
  margin-left:20px;
}

.profile-img:hover {
  filter:none;
}

.about-content {
  margin-left:20px;
}





.about__img {
  padding: 30px;
 
}

.about__img img {
  width:325px;
  height: 450px;
 
}

.h-650 {
  height:650px;
}

.alignCenter {
  align-items: center;
}

.about__info h1 {
   margin-bottom: 30px;

}

.about__info-p1 {
  font-size: 14px;
  margin-bottom:20px;

}

.about__info-p2 {
   font-size: 14px;

}




.info__contacts {
  margin-top: 20px;
}

.info__contacts strong {
  color:#ff4a57;
}

.info__contacts p {
  margin-top: 3px;
}

.info__contacts .col-6 {
   margin: 10px -1px;
}



 




.skills {
  display: flex;
  list-style:none;
  align-items: center;
  font-size:46px ;
  justify-content: space-around;
  text-align: center;
  margin-left: 15px;
  
}
.express {
  width:80px
}




.mahmut {
  filter:grayscale(100%);
  
}
.mahmut:hover {
  filter:none;
}


.html:hover {
  color:#e34c26;
}

.css:hover {
  color:#264de4;
}

.java:hover {
  color: #f0db4f;
}

.node:hover {
  color:#3c873a;
}

.react:hover {
  color:#61DBFB;
}

.mongo:hover {
  color:#4DB33D;
}

.slides {
  padding-top: 30px;
}

.common .main {
  font-size: 14px;
  padding-top:40px;
  
}

.instagram {
  color:#8a3ab9;
}

.github {
  color:#211F1F;
}

.mail {
  color:#211F1F;
}

.facebook {
  color: #3B5998;
}

.linkedin {
  color:#0077B5;
}

.projects {
  padding-top:70px;
  margin:20px
}

.techno {
  padding-top:70px;
  
}





@media(max-width:768px) {
  .container {
    width:100%;
    padding:0 50px;
   
    
  }

  .col-6 {
    width:100%;
  }


  .banner__img img {
    display: none;
  }

  .header__section h1 {
    font-size: 35px;
    font-weight:700;
    margin-bottom: 20px;
  }
  
  .header__section p {
    font-size:20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom:50px;
  
  }

   .header__ul  {
    display:grid;
    grid-template-columns: 15% 15% 15%; 
    grid-gap: 25px; 
    margin-right:70px;
    row-gap: 25px;
  }
    /* display:grid;
    grid-template-columns: auto auto auto; 
    grid-gap: 30px; 
    margin-right:70px;
    row-gap: 25px;
     */
    
   
  .about-text p {
  
    font-size: 14px;
    padding-top:10px;
    margin-left:5px;
  }
  
  
 * {
   margin:-2px;
   
  
 }

 .slides {
   margin-left:5px;
 }

 .info__contacts {
   margin-left: 5px;;
 }

 .btn-smart {
   margin-bottom:20px;
 }

 
  
  .header {
    padding-top:80px;
  }

  .header__ul > li {
    text-align: center;
    margin-left:auto;
  }

   .header__buttons .btn-smart {
    margin-top:20px;
    
  }

  .skills {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding:12px;
    grid-gap: 12px;
  }

  .common {
    width:100%;

  }

  .h-650 {
    height:auto;
  }


}

@media (min-width:767px) and (max-width:961px) {
  .mahmut {
    display:none;
  }
}

@media (min-width:960px) and (max-width:1024px) {
  .mahmut {
    display:none;
}
  


}

/* @media (min-width:400px) {
  .header__ul  {
    display:grid;
    grid-template-columns: 15% 15% 15%; 
    grid-gap: 25px; 
    margin-right:70px;
    row-gap: 25px;
  }
} */

@media (max-width:400px) {
  .header__ul li {
    width:40px;
    height: 40px;
    
   
  }


}